body{
             background-color:#fcff65;
             
         }
         hr {border-style: none;
             border-style: dotted none none;
             border-color: grey;
             
             height: 0px; 
             border-width: 10px;
             width: 5%;
            
            }
            h1 { 
                color: #0b5555;
            }
            h2 {
                color: #005169;
            }
            h3{
                color:#bf66bb;
            }
            img{
                height: 200px;
            }
           
     